<!-- FOOTER -->
<div class="container">
  <!--<div class="row">
    <div class="col-12 col-lg-3">
      <h2 class="h5">ПРОФДЕЗ</h2>
      <p class="fw-light">
        Отдел эпидемиологии и профилактической дезинфекции ГБУ РС(Я) "НПЦ
        "Фтизиатрия" им. Е.Н.Андреева"
      </p>
    </div>
    <div class="col-6 col-md-3 offset-lg-1 col-lg-2">
      <h2 class="h5">О нас</h2>
      <ul class="list-unstyled mb-4">
        <li class="mb-2">
          <a href="#" class="link-secondary text-decoration-none">Об отделе</a>
        </li>
        <li class="mb-2">
          <a href="#" class="link-secondary text-decoration-none">Вакансии</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <h2 class="h5">Услуги</h2>
      <ul class="list-unstyled mb-4">
        <li class="mb-2">
          <a href="#" class="link-secondary text-decoration-none">Услуги</a>
        </li>
        <li class="mb-2">
          <a href="#" class="link-secondary text-decoration-none">Цены</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <h2 class="h5">Помощь</h2>
      <ul class="list-unstyled mb-4">
        <li class="mb-2">
          <a href="#" class="link-secondary text-decoration-none">FAQ</a>
        </li>
        <li class="mb-2">
          <a href="#" class="link-secondary text-decoration-none">Инструкции</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <h2 class="h5">Контакты</h2>
      <ul class="list-unstyled mb-4">
        <li class="mb-2">
          <a href="#" class="link-secondary text-decoration-none"
            >Как с нами связаться</a
          >
        </li>
        <li class="mb-2">
          <a href="#" class="link-secondary text-decoration-none"
            >Как доехать до нас</a
          >
        </li>
      </ul>
    </div>
  </div>-->
  <div
    class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center gap-3 border-top py-3"
  >
    <div class="small">
      © Made by
      <a href="https://t.me/woodysyl" target="_blank" rel="noopener"
        >woodysyl</a
      >
    </div>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <a class="icon icon-sm icon-secondary" href="tel:79245670353"
          ><i class="fa-solid fa-phone m-auto" aria-hidden="true"></i
          ><span class="sr-only">79245670353</span></a
        >
      </li>
      <li class="list-inline-item">
        <a
          class="icon icon-sm icon-secondary"
          href="https://vk.com/epidemiology_and_disinfection"
          ><i class="fab fa-vk m-auto" aria-hidden="true"></i
          ><span class="sr-only">Vkontakte</span></a
        >
      </li>
    </ul>
  </div>
</div>
<!-- FOOTER -->
