<a href="/" class="visually-hidden-focusable">Skip to main content</a>
<nav class="navbar navbar-expand-lg py-3" aria-label="Main">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        class="header__img"
        src="{{ url_for('static', filename='img/logo-dez.svg')}}"
        alt="logo-dez"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars fa-lg"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav my-3 my-lg-0 ms-auto">
        <!--<a class="nav-link px-lg-3" href="{{ url_for('user.login') }}">Войти</a>-->
        {% if current_user.is_authenticated and current_user.user_type ==
        'admin' %}
        <a class="nav-link px-lg-3" href="{{ url_for('dashboard.admin') }}"
          >Главная</a
        >
        <a class="nav-link px-lg-3" href="{{ url_for('user.users') }}"
          >Пользователи</a
        ><a class="nav-link px-lg-3" href="{{ url_for('application.all') }}"
          >Заявки</a
        >
        {% endif %} {% if current_user.is_authenticated and
        (current_user.user_type == 'doctor' or current_user.user_type ==
        'disinfector')%}
        <a class="nav-link px-lg-3" href="{{ url_for('application.all') }}"
          >Главная</a
        ><a class="nav-link px-lg-3" href="{{ url_for('dashboard.all') }}"
          >Отчеты</a
        >
        {% endif %} {% if current_user.is_authenticated %}

        <a
          class="nav-link px-lg-3"
          style="color: #0163ee"
          href="{{ url_for('user.update', id=current_user.id) }}"
          >Добро пожаловать, {{ current_user.login }}</a
        >

        {% endif %} {% if current_user.is_authenticated %}
        <a class="nav-link px-lg-3" href="{{ url_for('user.logout') }}"
          >Выйти</a
        >
        {% endif %}
      </div>
      {% if current_user.is_authenticated and current_user.user_type ==
      'doctor'%}
      <a
        class="btn btn-primary btn-sm rounded-pill ms-lg-3"
        href="{{ url_for('application.create') }}"
        >Подать заявку</a
      >
      {% endif %}
    </div>
  </div>
</nav>
