{% extends "main/base.html" %} {% block title %}Регистрация{% endblock %} {%
block style %}{% assets 'user_register_css' %}<link
  rel="stylesheet"
  href="{{ ASSET_URL }}"
/>{% endassets %}{% endblock %} {% block content %}
<!-- Header -->
<div class="container py-4 py-md-5 py-xl-6 mb-sm-4 mb-xxl-5">
  <div class="col-lg-8 text-center mx-auto">
    <h1 class="display-4">Регистрация</h1>
    <p class="lead">Заполните все поля внизу</p>
  </div>
</div>
<div class="bg-skew bg-skew-light min-vh-75">
  <!-- Form -->
  <div class="container py-4">
    <div class="col-lg text-center text-lg-start">
      {% include 'main/_flash.html' %}
      <form method="post">
        <!--enctype="multipart/form-data" если понадобиться загрузить аватар или файл-->
        {{ form.hidden_tag() }}
        <div class="mb-4">
          <label for="name" class="form-label text-uppercase"
            >Имя пользователя:</label
          >
          {{ form.name(class="form-control", id="name", placeholder="Введите
          имя") }}
        </div>
        <div class="mb-4">
          <label for="login" class="form-label text-uppercase">Логин:</label>
          {{ form.login(class="form-control", id="login", placeholder="Введите
          логин") }}
        </div>
        <div class="mb-4">
          <label for="user_type" class="form-label text-uppercase"
            >Выберите роль пользователя:</label
          >
          {{ form.user_type(class='form-control', id="user_type",
          onchange="toggleAreaField()") }}
        </div>

        <div class="mb-4" id="areaField" style="display: none">
          <label for="area_id" class="form-label text-uppercase"
            >Выберите участок:</label
          >
          {{ form.area_id(class='form-control', id="area_id") }}
        </div>
        <div class="mb-4">
          <label for="password" class="form-label text-uppercase">Пароль</label>
          {{ form.password(class="form-control", id="password",
          placeholder="Введите пароль") }}
          <div class="form-text" id="password-hint">
            Длина пароля должна быть не менее 8 символов
          </div>
        </div>
        <div class="mb-4">
          <label for="confirm_password" class="form-label text-uppercase"
            >Подтвердите пароль</label
          >
          {{ form.confirm_password(class="form-control", id="confirm_password",
          placeholder="Повторно введите пароль") }}
        </div>
        {{ form.submit(class="btn btn-primary rounded-pill w-100 mb-4") }}
      </form>
    </div>
  </div>
</div>

{% endblock %} {% block script %}{% assets 'user_register_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
