{% extends "main/base.html" %} {% block style %}{% assets
'application_index_css' %}<link rel="stylesheet" href="{{ ASSET_URL }}" />{%
endassets %}{% endblock %} {% block title %}Главная{% endblock %} {% block
content %}
<div class="container py-5">
  {% include 'main/_flash.html' %}
  <div class="row align-items-lg-center">
    <div class="col-lg text-center text-lg-start">
      <h1 class="display-4 mb-4">Дезинфекция - ваш шаг к безопасной среде!</h1>
      <p class="lead text-secondary">
        Сервис по обработке заявок на заключительную дезинфекцию.
      </p>
      <div
        class="d-flex flex-column flex-sm-row align-items-center justify-content-center justify-content-lg-start gap-3"
      >
        <a class="btn btn-primary rounded-pill" href="{{ url_for('user.login') }}">Войти</a>
        <!--<a class="link-cta" href="#">Зарегистрироваться</a>-->
      </div>
    </div>
    <div class="col-lg">
      <img
        src="{{ url_for('static', filename='img/revenue.svg')}}"
        class="img-fluid d-none d-lg-block"
        alt=""
      />
    </div>
  </div>
</div>

  
  <div class="divider mx-auto"></div>

  <div class="container py-5">
    <h2 class="text-center mb-5">Виды дезинфекции</h2>
    <div class="row">
      <div class="col-md">
        <blockquote class="bg-white rounded shadow mb-4 p-4 p-lg-5 text-center">
          <h3 class="text-center h5 mb-2">Профилактическая</h3>
          <p class="text-secondary">
            Проводится независимо от наличия заразных заболеваний. В учебных и
            детских дошкольных учреждениях (школах, бассейнах, банях, душевых, в
            местах общего пользования).
          </p>
        </blockquote>
      </div>
      <div class="col-md">
        <blockquote class="bg-white rounded shadow mb-4 p-4 p-lg-5 text-center">
          <h3 class="text-center h5 mb-2">Текущая</h3>
          <p class="text-secondary">
            Действие которой распространяется на весь период нахождения
            инфекционного больного в помещении (дома, больнице). Уборка,
            замачивание посуды, белья
          </p>
        </blockquote>
      </div>
      <div class="col-md">
        <blockquote class="bg-white rounded shadow mb-4 p-4 p-lg-5 text-center">
          <h3 class="text-center h5 mb-2">Заключительная</h3>
          <p class="text-secondary">
            Осуществляется после госпитализации, выздоровления или смерти
            больного. Проводятся все те же мероприятия, что и при текущей
            дезинфекции.
          </p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="divider mx-auto"></div>
<!--
  <div class="container py-5">
    <h2 class="text-center mb-5">Наши цены</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="card text-center px-2 mb-4">
          <div class="card-header bg-white border-bottom py-4">
            <h3 class="h4 fw-normal">до 100 кв.м.</h3>
            <div class="d-flex justify-content-center">
              <span class="h2"> 1 руб. 00 коп.</span>
            </div>
            <span class="text-secondary">квадратный метр</span>
          </div>
          <div class="card-body">
            <ul class="list-unstyled fw-light mb-0">
              <li class="py-2">
                <i
                  class="far fa-check-circle text-primary me-2"
                  aria-hidden="true"
                ></i
                >Консультация
              </li>
              <li class="py-2">
                <i
                  class="far fa-check-circle text-primary me-2"
                  aria-hidden="true"
                ></i
                >Выезд
              </li>
              <li class="py-2">
                <i
                  class="far fa-check-circle text-primary me-2"
                  aria-hidden="true"
                ></i
                >Обработка
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="card text-center px-2 mb-4">
          <div class="card-header bg-white border-bottom py-4">
            <h3 class="h4 fw-normal">Более 100 кв.м.</h3>
            <div class="d-flex justify-content-center">
              <span class="h2">0 руб. 50 коп.</span>
            </div>
            <span class="text-secondary">квадратный метр</span>
          </div>
          <div class="card-body">
            <ul class="list-unstyled fw-light mb-0">
              <li class="py-2">
                <i
                  class="far fa-check-circle text-primary me-2"
                  aria-hidden="true"
                ></i
                >Консультация
              </li>
              <li class="py-2">
                <i
                  class="far fa-check-circle text-primary me-2"
                  aria-hidden="true"
                ></i
                >Выезд
              </li>
              <li class="py-2">
                <i
                  class="far fa-check-circle text-primary me-2"
                  aria-hidden="true"
                ></i
                >Обработка
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>
{% endblock %} {% block script %}{% assets 'application_index_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
